@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sail&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --p : #F43692;
    --bg:#0D0F45;
    --f1 :'Roboto', sans-serif;
    --f2 :'Open Sans', sans-serif;
    --f3:'Sail', cursive;
    --font1: variex, sans-serif;
}

a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}

body{
    background-color: var(--bg);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #070B7E;
    color: #fff;
}

#logo{
    
    color: var(--p);
    font-size: 1.8rem;
    font-family: var(--font1);
    cursor: pointer;
}

.mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 30rem;
    font-family: var(--f1);
}

.bt{
    padding: 5px 50px;
    margin-right: 6rem;
    border: 3px solid var(--p);
    font-size: 1.3rem;
    font-family: var(--f2);
    font-weight: 700;
}

.out{
    position: absolute;
    right: 3rem;
    top: 2rem;
}


#innerNav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    color: #fff;
    font-weight: 700;
    font-family: var(--f2);
}

h1{
    font-family:var(--f3);
}

#money{
    background-color: #011634;
    margin: 20px;
    padding: 30px;
    font-family: var(--f2);
    border: 2px solid #fff;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #fff;
}

.first{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 15px;
}
.btn{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 25px;
}

p{
    margin: 25px;
    font-size: 1.3rem;
}

.btn a{
   
    padding: 5px 150px;
    background-color: var(--p);
}
.container{
    background-color: #fff;
    height: 20rem;
    width: 40rem;
    color:rgba(1,4,9,255);
    font-family: var( --f2);
}
.inp{
    margin-top: 40px;
    border-bottom: 2px solid rgba(1,4,9,255);
    border-top: none ;
    border-left: none;
    border-right: none;
    width: 25rem;

}
.button{
    margin-top: 10px;
    padding: 5px 35px;
    width: 15rem;
    border-radius: 10px;
    background-color: rgba(1,4,9,255);
    color: #fff;   
}